.gallery {
    column-count: 4;
    background-color: #0b0f19;
    padding: 0 10px;
}

.img-card {
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 10px;
}

.img-card img {
    width: 100%;
}

.img-card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery {
        column-count: 2;
        column-gap: 8px;
    }

    .img-card {
        margin-bottom: 2px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 350px;
    position: relative;
}

.modal-image {
    max-width: 80%;
    display: block;
    object-fit: contain;
    border-radius: 4px;
}

.modal-caption {
    padding: 15px 10px 5px 10px;
}

.modal-close-btn {
    position: absolute;
    top: -40px;
    right: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    line-height: 1;
}